<?xml version="1.0" encoding="UTF-8"?>
<!--
        _ _     _
    ___| (_)___(_) ___  _ __
   / _ \ | / __| |/ _ \| '_ \
  |  __/ | \__ \ | (_) | | | |
   \___|_|_|___/_|\___/|_| |_|
  The Elision Term Rewriter
  
  Copyright (c) 2012 by UT-Battelle, LLC.
  All rights reserved.
  
  Redistribution and use in source and binary forms, with or without
  modification, are permitted provided that the following conditions are met:
  
  1. Redistributions of source code must retain the above copyright notice, this
     list of conditions and the following disclaimer.
  2. Redistributions in binary form must reproduce the above copyright notice,
     this list of conditions and the following disclaimer in the documentation
     and/or other materials provided with the distribution.
  
  Collection of administrative costs for redistribution of the source code or
  binary form is allowed. However, collection of a royalty or other fee in excess
  of good faith amount for cost recovery for such redistribution is prohibited.
  
  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
  AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
  ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER, THE DOE, OR
  CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
  EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
  PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
  OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
  WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
  OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
  ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<!DOCTYPE configuration SYSTEM "elision_configuration.dtd">
<configuration
	name="Elision"
	maintainer="Stacy Prowell (sprowell@gmail.com)"
	web="http://elision.github.com/">
	<!-- Build information.  The build attribute is filled in by the build
		 process; do not modify it here. -->
	<version
		major="0"
		minor="5"
		trivial="0"
		status="alpha"
		build="@DSTAMP@@TSTAMP@">
	</version>
	<!-- Main classes information.  The list of entry points is found here.
	     The first entry is the default to run if no command is specified.
	     Each entry must be a main class. -->
    <main name="repl" class="ornl.elision.repl.ReplMain" gui="false"
            description="Start the command line REPL."/>
    <main name="eva" class="ornl.elision.gui.mainGUI" gui="true"
            description="Start the Elision Visualization Assistant (EVA)."/>
    <main name="help" class="ornl.elision.Help" gui="false"
            description="List commands supported by this version of Elision."/>
    <main name="about" class="ornl.elision.About" gui="false"
            description="About Elision."/>
    <!-- Dialect information.  The list of dialects understood by the Elision
         system is given here.  Each dialect must be provided by a class that
         extends ornl.elision.core.Dialect. -->
    <dialect name="elision" class="ornl.elision.dialects.ElisionDialect"/>
    <dialect name="scala" class="ornl.elision.dialects.ScalaDialect"/>
    <!-- Property declarations are given here. -->
    <property name="cache",
        description="Whether to use the memoization cache or not."
        type=boolean
        default="true"/>
    <property name="maxcachedepth",
        description="The maximum depth of atoms to memoize."
        type=integer
        default="-1"/>
    <property name="risky_equality_check"
        description="Whether to do fast, but risky, equality checking of atoms."
        type=boolean
        default="true"/>
    <property name="stacktrace"
        description="Print a stack trace on all (non-Elision) exceptions."
        type=boolean
        default="false"/>
    <property name="usepath"
        description="Whether to use the search path to locate files."
        type=boolean
        default="true"/>
    <property name="useclasspath"
        description="Whether to use the class path to locate files."
        type=boolean
        default="true"/>
    <property name="path"
        description="The search path to use to locate files."
        type=string
        default="."/>
    <property name="rewrite_timeout"
        description="The maximum time to try rewriting atoms, in milliseconds."
        type=integer
        default="-1"/>
    <property name="rewrite_aggressive_fail"
        description="Whether to aggressively fail fast while rewriting.  If true some rewrites may not be applied."
        type=boolean
        default="false"/>
    <property name="showscala"
        description="Show the Scala source for each atom."
        type=boolean
        default=false/>
    <property name="usepager"
        description="Use the pager when output is longer than the screen."
        type=boolean
        default=true/>
    <property name="syntaxcolor"
        description="Use syntax-based coloring of atoms where it is supported."
        type=boolean
        default=true/>
</configuration>
